[submodule "config/jaeles-signatures"]
	path = config/jaeles-signatures
	url = https://github.com/jaeles-project/jaeles-signatures
[submodule "config/nuclei-templates"]
	path = config/nuclei-templates
	url = https://github.com/projectdiscovery/nuclei-templates.git
[submodule "config/fuzzing-templates"]
	path = config/fuzzing-templates
	url = https://github.com/projectdiscovery/fuzzing-templates.git
[submodule "tools/ProxyShell"]
	path = tools/ProxyShell
	url = https://github.com/ktecv2000/ProxyShell.git
[submodule "config/smuggler"]
	path = config/smuggler
	url = https://github.com/defparam/smuggler.git
[submodule "tools/The-Hacker-Recipes"]
	path = tools/The-Hacker-Recipes
	url = https://github.com/ShutdownRepo/The-Hacker-Recipes.git
