defaults
    mode http
    timeout connect 5000
    timeout client 10000
    timeout server 10000
frontend http-in
    bind *:80
    bind *:443 ssl crt /tmp/haproxy.pem
    default_backend forward_default
backend forward_default
    http-request deny if { path -i -m beg /flag }
    server s1 backend:80
